{% load i18n %}
<div {% ... attrs %}>
  {% if edit_mode %}
    <div class='input-group'>
      <input class="form-control" type="text" x-model="name"/>
      <button class="btn btn-outline-secondary" type="button"
              @click="reset()"><i class='fa fa-undo'></i></button>
      <button class="btn btn-outline-danger" type="button"
              @click="cancel()"><i class='fa fa-x'></i></button>
      <button class="btn btn-outline-success" type="button"
              @click="save()">Save</button>
    </div>
  {% else %}
    <div @click="edit()" role="button">{% translate "Name:" %} {{name}}</div>
  {% endif %}
</div>