site_name: Tetra framework
site_url: https://tetraframework.readthedocs.org

plugins:
  - mermaid2
  - panzoom
  - search

theme:
  name: material
  logo: img/favicon-white.png
  favicon: img/favicon.png
  palette:
    primary: grey
    accent: blue
  features:
  - navigation.footer
  - navigation.top
  - navigation.instant
  - navigation.expand
#  - navigation.tabs
#  - navigation.tabs.sticky
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
nav:
  - index.md
  - install.md
  - tutorial.md
  - Libraries:
    - component-libraries.md
  - Components:
    - components.md
    - basic-components.md
    - form-components.md
    - reactive-components.md
    - reactive-models.md
    - routing.md
    - component-views.md
    - component-inheritance.md
    - component-life-cycle.md
  - Template:
    - component-tag.md
    - attribute-tag.md
    - slots.md
    - include-js-css.md
    - if-else-filters.md
    - state-security.md
    - magic-static.md
  - Websocket connections:
    - group-registry.md
    - online-status.md
  - Additional topics:
    - settings.md
    - request.md
    - messages.md
    - events.md
    - files.md
    - helpers.md
  - Development:
    - development/contribute.md
    - development/testing.md
    - development/protocol_specification.md
    - development/data-attributes.md
    - changelog.md
