{% load i18n %}
<div {% ... attrs %}>
  <!-- spinner within button -->
  <div class="mb-2">
    <button class="btn btn-primary" type="button"
            @click="long_lasting_process()">
      <span class="tetra-indicator spinner-border spinner-border-sm me-2"></span>
      {% translate "Load data (local spinner)" %}
    </button>
  </div>

  <!-- external spinner -->
  <div class="d-flex align-items-center gap-2">
    <button class="btn btn-primary" type="button"
            @click="long_lasting_process()"
            t-indicator="#spinner-external">
      {% translate "Load data (external spinner)" %}
    </button>
  </div>
</div>