<div {% ... attrs %}>
  <!-- spinner within button -->
  <div class="mb-2">
    <button class="btn btn-primary" type="button"
            @click="long_lasting_process()"
            tx-indicator="#spinner-inline"
    >
      <span id="spinner-inline" class="spinner-border spinner-border-sm me-2"></span>
      Load data
    </button>
  </div>

  <!-- external spinner -->
  <div class="d-flex align-items-center gap-2">
    <button class="btn btn-primary" type="button"
            @click="long_lasting_process()"
            tx-indicator="#spinner-external"
    >
      Load data
    </button>
    <span id="spinner-external" class="spinner-border"></span>
  </div>
</div>