{% extends 'base.html' %}
{% load demo_tags static i18n %}

{% block title %}{{ block.super }} examples - {{ title }}{% endblock %}

{% block extra_head %}

  <style>
      .navbar {
          background-color: rgba(245, 247, 249, 0.9);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          min-height: 64px;
      }

      .navbar-brand {
          font-size: 1.8rem;
          font-weight: 700;
      }

      .container-main {
          margin-top: 64px;
      }
      @media (min-width: 768px) {
          .examples-nav {
              flex-shrink: 0;
              width: 210px;
              position: sticky;
              top: 64px;
              max-height: calc(100vh - 60px);
              overflow: auto;
          }
      }
      .examples-nav a {
          text-decoration: none;
          color: var(--bs-gray-900);
      }
      .examples-nav a:hover {
          color: var(--bs-primary);
      }
      .examples-nav .active {
          font-weight: 600;
          text-decoration: none;
          color: var(--bs-primary);
      }

      .examples-nav-item .small {
          font-weight: 500;
      }
      .examples-nav-item {
          font-weight: 400;
      }

      .headerlink {
          visibility: hidden;
          display: inline-block;
          margin-left: 0.2em;
          text-decoration: none;
          color: var(--bs-gray-400);
      }
      h1:hover .headerlink, h1:active .headerlink,
      h2:hover .headerlink, h2:active .headerlink,
      h3:hover .headerlink, h3:active .headerlink,
      h4:hover .headerlink, h4:active .headerlink,
      h5:hover .headerlink, h5:active .headerlink,
      h6:hover .headerlink, h6:active .headerlink {
          visibility: visible;
      }

      .toc-outer {
          color: var(--bs-gray-800);
          font-size: .875rem;
      }
      .toc-outer h2 {
          font-size: .875rem;
      }
      .toc ul {
          list-style: none;
          padding-left: 0;
      }
      .toc > ul ul ul {
          padding-left: 1.5em;
      }
      .toc a {
          text-decoration: none;
          color: var(--bs-gray-600);
      }
      .toc a:hover {
          color: var(--bs-primary);
      }

      .main-content {
          max-width: 800px;
          flex-grow: 1;
      }

      pre > code {
          border-radius: .25rem;
          display: block;
          overflow-x: auto;
          padding: 1em;
          background-color: rgb(252, 252, 252);
      }
      pre {
          border-radius: .25rem;
          box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      }

      h1, .h1 {
          font-size: 2rem;
          margin: 0 0 1.6rem;
      }
      h2, .h2 {
          font-size: 1.6rem;
          margin: 2rem 0 1.6rem;
      }
      h3, .h3 {
          font-size: 1.4rem;
          margin: 2rem 0 1.6rem;
      }
      h4, .h4 {
          font-size: 1.2rem;
          margin: 2rem 0 1.6rem;
      }

      blockquote {
          background: var(--bs-light);
          border-left: .25rem solid var(--bs-info);
          padding: 1rem 1rem 0.001rem; 1rem;
      }

      .examples-content a[href*="://"]::after {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          text-decoration: none;
          font-style: normal;
          font-variant: normal;
          line-height: 1;
          text-rendering: auto;
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\00a0\f08e";
          color: var(--bs-gray-500);
          font-size: 0.8em;
      }

      .main-logo {
          height: 40px;
          width: 133px;
      }
  </style>
{% endblock %}

{% block body %}
  <main>
    <nav class="navbar fixed-top navbar-expand-md">
      <div class="container-xxl">
      <span  class="position-relative me-0 me-sm-5">
        <a class="navbar-brand mb-0 h1 me-0" href="/">
          <img src="{% static "logo.svg" %}" alt="Tetra" class="main-logo">
        </a>
        <span
            class="badge bg-warning text-dark small d-inline-block position-absolute"
            style="top: -0.3rem; right: -1.5rem; transform: rotate(5deg); font-size: 7px;"
        >
          Alpha v{% tetra_version %}
        </span>
      </span>
        <button class="navbar-toggler border-0 order-first" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDocsNav" aria-controls="offcanvasDocsNav" aria-expanded="false" aria-label="{% translate 'Toggle Examples Navigation' %}">
          <i class="fa-solid fa-bars"></i>
        </button>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% translate 'Toggle Navigation' %}">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <div class="collapse navbar-collapse small fw-semibold" id="navbarSupportedContent">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'examples-home' %}">{% translate "Examples" %}</a>
            </li>
            {#          <li class="nav-item">#}
            {#            <a class="nav-link" href="/#examples">Examples</a>#}
            {#          </li>#}
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/tetra-framework/tetra">
                <i class="fa-brands fa-github"></i>
                <span class="d-inline d-md-none">{% translate "GitHub" %}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://mobile.twitter.com/samwillis">
                <i class="fa-brands fa-twitter"></i>
                <span class="d-inline d-md-none">{% translate "Twitter" %}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-xxl container-main">
      <div class="d-md-flex justify-content-between examples-content">
        <div class="examples-nav offcanvas-start offcanvas-md pt-md-4" id="offcanvasDocsNav" aria-labelledby="offcanvasDocsNavLabel">
          <div class="offcanvas-header" data-bs-theme="dark">
            <h5 class="offcanvas-title" id="offcanvasDocsNavLabel">{% translate "Browse Examples" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasDocsNav" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="list-unstyled">
              <li>
                <a href="{%  url 'examples' slug=FIRST_SLUG.slug %}">{{ FIRST_SLUG.title }}</a>
              </li>
              <hr class="hr">
{#              {% for section in structure %}#}
{#                <li class="examples-nav-item my-1 {% if section.slug is None %}mt-2{% endif %}">#}
{#                  {% if section.slug is None %}#}
{#                    <span class="text-muted small {% if active_slug == section.slug %}active{% endif %}">{{ section.title|safe }}</span>#}
{#                  {% elif section.slug == '' %}#}
{#                    <a href="{% url 'examples-home' %}" class="{% if active_slug == section.slug %}active{% endif %}">{{ section.title|safe }}</a>#}
{#                  {% else %}#}
{#                    <a href="{% url 'examples' slug=section.slug %}" class="{% if active_slug == section.slug %}active{% endif %}">{{ section.title|safe }}</a>#}
{#                  {% endif %}#}
{#                  {% if section.items %}#}
{#                    <ul class="list-unstyled ms-3 mt-1 mb-2">#}

{#                      {% for item in section.items %}#}
                      {% for slug, item in structure.items %}
                        <li><a href="{% url 'examples' slug=slug %}" class="{% if active_slug == slug %}active{% endif %}">{{ item.title|safe }}</a></li>
                      {% endfor %}
{#                    </ul>#}
{#                  {% endif %}#}
{#                </li>#}
{#              {% endfor %}#}
              <hr class="hr">
              <li class="examples-nav-item my-1 mt-3">
                <a href="https://tetra.readthedocs.org/">{% translate "Tetra Docs" %}</a>
              </li>
              <li class="examples-nav-item my-1">
                <a href="https://alpinejs.dev">{% translate "Alpine.js Docs" %}</a>
              </li>
              <li class="examples-nav-item my-1">
                <a href="https://docs.djangoproject.com/">{% translate "Django Docs" %}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="examples-nav order-last toc-outer d-none d-lg-block pt-md-4">
          <h2 class="h6">{% translate "On this page" %}</h2>
          {{ toc|safe }}
        </div>
        <div class="main-content mx-md-4 pt-4">
          {{content|safe}}
        </div>
      </div>
    </div>
  </main>
{% endblock %}