{% load demo_tags tetra static i18n i18n_tags %}
<!doctype html>
<html lang="en" class="{% block html_class %}{% endblock %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Tetra{% endblock %}</title>

  <link rel="shortcut icon" href="{% static "favicon.png" %}"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/django.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/css.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/javascript.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      let enclave_languages = [
        {type: 'django_html', 'language': 'django'},
        {type: 'html', 'language': 'html'},
        {type: 'css', 'language': 'css'},
        {type: 'javascript', 'language': 'javascript'},
      ];
      document.querySelectorAll('pre code').forEach((el) => {
        hljs.highlightElement(el);
      });
      document.querySelectorAll('.language-python .hljs-string').forEach((el) => {
        if (el.innerText.startsWith('"""') && el.innerText.endsWith('"""')) {
          enclave_languages.some((lang) => {
            if (el.previousSibling.textContent.endsWith(lang.type+" = ")) {
              let code = el.innerText.slice(3, -3);
              el.innerHTML = '"""<span class="enclave language-'+lang.language+'"></span>"""';
              let enclave = el.querySelector('.enclave');
              enclave.innerHTML = code.replace(/</g, "&lt;");
              hljs.highlightElement(enclave);
              return true;
            }
          })
        }
      });
    });
  </script>

  <style>
      :root {
          --bs-body-font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }

      .code-block {
          background: #282c34;
      }

      .max-width,
      .gettings-started-block {
          max-width: 700px;
          margin-left: auto;
          margin-right: auto;
      }

      .main-logo {
          height: 100px;
      }
  </style>

  {% block extra_head %}{% endblock %}
  {% tetra_styles %}
  {% tetra_scripts include_alpine=True %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
{% endblock %}
{% block footer %}
<footer class="py-3 mt-5 text-center text-muted border-top small">
    <div class="d-flex justify-content-center align-items-center">
        <div class="me-3">
            {% now "Y" as current_year %}
            {% blocktranslate %}© {{ current_year }} <a href="https://mobile.twitter.com/samwillis">Sam Willis</a>, Christian González{% endblocktranslate %}
        </div>

        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as available_languages %}
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {% get_language_info for LANGUAGE_CODE as lang %}{{ lang.name_local }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                {% for lang_code, lang_name in available_languages %}
                <li>
                    <form action="{% url 'set_language' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{% translate_url lang_code %}">
                        <input name="language" type="hidden" value="{{ lang_code }}">
                        {% get_language_info for lang_code as lang_info %}
                        <button type="submit" class="dropdown-item {% if lang_code == LANGUAGE_CODE %}active{% endif %}">{{ lang_info.name_local }}</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>