{% load demo_tags tetra %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tetra - Full stack component framework for Django using Alpine.js</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/django.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/javascript.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        let enclave_languages = [
          {type: 'django_html', 'language': 'django'},
          {type: 'html', 'language': 'html'},
          {type: 'css', 'language': 'css'},
          {type: 'javascript', 'language': 'javascript'},
        ];
        document.querySelectorAll('pre code').forEach((el) => {
          hljs.highlightElement(el);
        });
        document.querySelectorAll('.language-python .hljs-string').forEach((el) => {
          if (el.innerText.startsWith('"""') && el.innerText.endsWith('"""')) {
            enclave_languages.some((lang) => {
              if (el.previousSibling.textContent.endsWith(lang.type+" = ")) {
                let code = el.innerText.slice(3, -3);
                el.innerHTML = '"""<span class="enclave language-'+lang.language+'"></span>"""';
                let enclave = el.querySelector('.enclave');
                enclave.innerHTML = code.replace(/</g, "&lt;");
                hljs.highlightElement(enclave);
                return true;
              }
            })
          }
        });
      });      
    </script>

    <style>
      :root {
        --bs-body-font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }

      .code-block {
        background: #282c34;
      }

      .max-width,
      .gettings-started-block {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>


    {% tetra_styles %}
    {% tetra_scripts include_alpine=True %}
  </head>
  <body class='bg-light'>

    <main>
      <div class="container">

        <div class="py-3 my-5 text-center">
          <div>
            <div class="d-inline-block position-relative">
              <h1 class="display-3 fw-bold d-inline-block">
                Tetra
              </h1>
              <span
                class="badge bg-warning text-dark small d-inline-block position-absolute"
                style="top: -0.5rem; right: -2.5rem; transform: rotate(5deg);"
              >
                Alpha v0.0.1
              </span>
            </div>
          </div>
          <h4 class="display-7">Full stack component framework for <a href="http://djangoproject.com">Django</a> using <a href="https://alpinejs.dev">Alpine.js</a></h4>
          <div class="col-lg-7 mx-auto">
            <p class="lead mb-4">
              Tetra is a new <mark>full stack component framework</mark> for Django, bridging the gap between your server logic and front end presentation.
              It uses a <mark>public shared state</mark> and a <mark>resumable server state</mark> to enable inplace updates. It also encapsulates your Python, HTML, JavaScript and CSS into one file for <mark>close proximity of related concerns</mark>.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="#features" class="btn btn-light btn-lg px-4">
                Features
              </a>
              <a href="/docs" class="btn btn-primary btn-lg px-4 gap-3">
                <i class="fa-solid fa-arrow-right"></i>
                Get Started
              </a>
              <a href="https://github.com/samwillis/tetra" class="btn btn-light btn-lg px-4">
                <i class="fa-brands fa-github"></i>
                GitHub
              </a>
            </div>
          </div>
        </div>

        <h4 id="examples" class="text-center display-7 my-5">See how easy it is to build a <mark>to do list</mark>:</h4>

        <div class="container shadow-sm rounded-3 overflow-hidden">
          <div class="row align-items-md-stretch">
            <div class="col-md-6 text-white p-0 d-flex flex-column code-block">
              <div class="pt-2 ps-3 text-muted small"><b>components.py</b></div>
              <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "todo_components.txt" %}</code></pre>
              <div class="pt-2 ps-3 border-top border-secondary text-muted small"><b>models.py</b></div>
              <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "todo_models.txt" %}</code></pre>
              <div class="pt-2 ps-3 border-top border-secondary text-muted small"><b>index.html</b></div>
              <pre class="m-0"><code class="p-2 ps-3 language-django small">{% include_source "todo_index.txt" %}</code></pre>
            </div>
            <div class="col-md-6  bg-white">
              <div class="h-100 p-4">
                <h4>Your to do list:</h4>

                {% @ demo.to_do_list / %}

              </div>
            </div>
          </div>
        </div>

        <h4 class="text-center display-7 my-5">Or a reactive server rendered search component:</h4>

        <div class="container shadow-sm rounded-3 overflow-hidden">
          <div class="row align-items-md-stretch">
            <div class="col-md-6 text-white p-0 d-flex flex-column code-block">
              <div class="pt-2 ps-3 text-muted small"><b>components.py</b></div>
              <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "reactive_components.txt" %}</code></pre>
            </div>
            <div class="col-md-6  bg-white">
              <div class="h-100 p-4">

                {% @ demo.reactive_search / %}

              </div>
            </div>
          </div>
        </div>

        <h4 class="text-center display-7 my-5">Or a counter, but with multiple nested instances.</h4>

        <div class="container shadow-sm rounded-3 overflow-hidden">
          <div class="row align-items-md-stretch">
            <div class="col-md-6 text-white p-0 d-flex flex-column code-block">
              <div class="pt-2 ps-3 text-muted small"><b>components.py</b></div>
              <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "counter_components.txt" %}</code></pre>
              <div class="pt-2 ps-3 border-top border-secondary text-muted small"><b>index.html</b></div>
              <pre class="m-0"><code class="p-2 ps-3 language-django small">{% include_source "counter_index.txt" %}</code></pre>
            </div>
            <div class="col-md-6  bg-white">
              <div class="h-100 p-4">

                {% @ demo.counter key="counter-1" %}
                  {% @ demo.counter key="counter-2" current_sum=sum %}
                    {% @ demo.counter key="counter-3" current_sum=sum / %}
                  {% /@ %}
                {% /@ %}

              </div>
            </div>
          </div>
        </div>

        <h4 class="text-center display-7 my-5" id="features">What does Tetra do?</h4>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
          <div class="col">
            <h6 class="fw-bold mb-0"><a href="http://djangoproject.com">Django</a> on the  backend, <a href="https://alpinejs.dev">Alpine.js</a> in the browser</h6>
            <p>Tetra combines the power of Django with Alpine.js to make development easier and  quicker.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Component encapsulation</h6>
            <p>Each component combines its Python, HTML, CSS and JavaScript in one place for close proximity of related code.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Resumable server state</h6>
            <p>The components' full server state is saved between public method calls. This state is <a href="/docs/state-security">encrypted for security</a>.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Public server methods</h6>
            <p>Methods can be made public, allowing you to easily call them from JS on the front end, resuming the component's state.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Shared public state</h6>
            <p>Attributes can be decorated to indicate they should be available in the browser as Alpine.js data objects.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Server "watcher" methods</h6>
            <p>Public methods can be instructed to watch a public attribute, enabling reactive re-rendering on the server.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Inplace updating from the server</h6>
            <p>Server methods can update the rendered component in place. Powered by the Alpine.js morph plugin.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Component library packaging</h6>
            <p>Every component belongs to a "library"; their JS & CSS is packed together for quicker browser downloads.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Components with overridable blocks</h6>
            <p>Component can have multiple <code>{% verbatim %}{%&nbsp;block(s)&nbsp;%}{% endverbatim  %}</code> which can be overridden when used.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">JS/CSS builds using <a href="https://esbuild.github.io">esbuild</a></h6>
            <p>Both for development (built into <code>runserver</code>) and production your JS & CSS is built with esbuild.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Source Maps</h6>
            <p>Source maps are generated during development so that you can track down errors to the original Python files.</p>
          </div>
          <div class="col">
            <h6 class="fw-bold mb-0">Syntax highlighting with type annotations</h6>
            <p>Tetra uses type annotations to syntax highlight your JS, CSS & HTML in your Python files with a <a href="https://github.com/samwillis/python-inline-source/tree/main/vscode-python-inline-source">VS Code plugin</a> </p>
          </div>
        </div>

        <p id="plans" class="text-center max-width mt-3">
          This is only the beginning, with much more planned, including:<br>
          •&nbsp;ModelComponent for bootstrapping standard CRUD interactions. &nbsp;
          •&nbsp;FormComponent bringing the power of Django forms to Tetra. &nbsp;
          •&nbsp;Python type annotations &nbsp;
          •&nbsp;Intergration with Django Validators &nbsp;
          •&nbsp;Alpine.js directives for component state (loading, offline  etc.) &nbsp;
          •&nbsp;Routing and query strings for "whole page" components. &nbsp;
          •&nbsp;Page title and metadata in header. &nbsp;
          •&nbsp;Pagination and Infinity Scroll components. &nbsp;
          •&nbsp;PostCSS/SASS/etc. support. &nbsp;
          •&nbsp;CSS scoped to a component. &nbsp;
          •&nbsp;Websocket/SSE components enabling realtime updates. &nbsp;
          •&nbsp;File upload/downloads. &nbsp;
          •&nbsp;Redirect responses. &nbsp;
          •&nbsp;Integration with Django Messages. &nbsp;
          •&nbsp;Additional authentication tools. &nbsp;
          •&nbsp;Integration with UI & component toolkits. &nbsp;
          •&nbsp;Bundling of esbuild to be npm free. &nbsp;
        </p>

        <div class="text-center mt-4">
          <a href="/docs" class="btn btn-primary btn-lg px-4 gap-3">
            <i class="fa-solid fa-arrow-right"></i>
            Read the Docs to get started
          </a>
        </div>

        <footer class="py-3 mt-5 text-center text-muted border-top small">
          © 2022 <a href="https://mobile.twitter.com/samwillis">Sam Willis</a>
        </footer>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>