{% extends 'base.html' %}
{% load demo_tags tetra static %}

{% block title %}{{ block.super }} - Full stack reactive component framework for Django using Alpine.js{% endblock %}
{% block body_class %}bg-light{% endblock %}

{% block content %}
  <div class="py-3 my-5 text-center">
    <div>
      <div class="d-inline-block position-relative">
        <img src="{% static "logo.svg" %}" alt="Tetra" class="main-logo mb-3">
        <span class="badge bg-warning text-dark small d-inline-block position-absolute"
              style="top: -0.5rem; right: -2.5rem; transform: rotate(5deg);"
        >
          Alpha v{% tetra_version %}
        </span>
      </div>
    </div>
    <h4 class="display-7">Full stack reactive component framework for <a href="http://djangoproject.com">Django</a> using <a href="https://alpinejs.dev">Alpine.js</a></h4>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">
        Tetra is a new <mark>full stack component framework</mark> for Django, bridging the gap between your server logic and front end presentation.
        It uses a <mark>public shared state</mark> and a <mark>resumable server state</mark> to enable <mark>inplace reactive updates</mark>. It also encapsulates your Python, HTML, JavaScript and CSS into one file for <mark>close proximity of related concerns</mark>.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="#features" class="btn btn-light btn-lg px-4">
          Features
        </a>
        <a href="https://tetra.readthedocs.org" class="btn btn-primary btn-lg px-4 gap-3">
          <i class="fa-solid fa-arrow-right"></i>
          Get Started
        </a>
        <a href="https://github.com/tetra-framework/tetra" class="btn btn-light btn-lg px-4">
          <i class="fa-brands fa-github"></i>
          GitHub
        </a>
        <a href="/examples" class="btn btn-light btn-lg px-4">
          Examples
        </a>
      </div>
    </div>
  </div>

  <h4 id="examples" class="text-center display-7 my-5">See how easy it is to build a <mark>todo list</mark>:</h4>

  <div class="container shadow-sm rounded-3 overflow-hidden">
    <div class="row align-items-md-stretch">
      <div class="col-md-6 text-white p-0 d-flex flex-column code-block">
        <div class="pt-2 ps-3 text-muted small"><b>components.py</b></div>
        <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "todo_components.txt" %}</code></pre>
        <div class="pt-2 ps-3 border-top border-secondary text-muted small"><b>models.py</b></div>
        <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "todo_models.txt" %}</code></pre>
        <div class="pt-2 ps-3 border-top border-secondary text-muted small"><b>index.html</b></div>
        <pre class="m-0"><code class="p-2 ps-3 language-django small">{% include_source "todo_index.txt" %}</code></pre>
      </div>
      <div class="col-md-6  bg-white">
        <div class="h-100 p-4">
          <h4>Your todo list:</h4>

          {% @ demo.ToDoList / %}

        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center display-7 my-5">Or a reactive server rendered search component:</h4>

  <div class="container shadow-sm rounded-3 overflow-hidden">
    <div class="row align-items-md-stretch">
      <div class="col-md-6 text-white p-0 d-flex flex-column code-block">
        <div class="pt-2 ps-3 text-muted small"><b>components.py</b></div>
        <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "reactive_components.txt" %}</code></pre>
      </div>
      <div class="col-md-6  bg-white">
        <div class="h-100 p-4">

          {% @ demo.ReactiveSearch / %}

        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center display-7 my-5">Or a counter, but with multiple nested instances.</h4>

  <div class="container shadow-sm rounded-3 overflow-hidden">
    <div class="row align-items-md-stretch">
      <div class="col-md-6 text-white p-0 d-flex flex-column code-block">
        <div class="pt-2 ps-3 text-muted small"><b>components.py</b></div>
        <pre class="m-0"><code class="p-2 ps-3 language-python small">{% include_source "counter_components.txt" %}</code></pre>
        <div class="pt-2 ps-3 border-top border-secondary text-muted small"><b>index.html</b></div>
        <pre class="m-0"><code class="p-2 ps-3 language-django small">{% include_source "counter_index.txt" %}</code></pre>
      </div>
      <div class="col-md-6  bg-white">
        <div class="h-100 p-4">

          {% @ demo.Counter key="counter-1" %}
            {% @ demo.Counter key="counter-2" current_sum=sum %}
              {% @ demo.Counter key="counter-3" current_sum=sum / %}
            {% /@ %}
          {% /@ %}

        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center display-7 my-5" id="features">What does Tetra do?</h4>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col">
      <h6 class="fw-bold mb-0"><a href="http://djangoproject.com">Django</a> on the  backend, <a href="https://alpinejs.dev">Alpine.js</a> in the browser</h6>
      <p>Tetra combines the power of Django with Alpine.js to make development easier and  quicker.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Component encapsulation</h6>
      <p>Each component combines its Python, HTML, CSS and JavaScript in one place for close proximity of related code.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Resumable server state</h6>
      <p>The components' full server state is saved between public method calls. This state is <a href="https://tetra.readthedocs.io/en/latest/state-security/">encrypted for security</a>.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Public server methods</h6>
      <p>Methods can be made public, allowing you to easily call them from JS on the front end, resuming the component's state.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Shared public state</h6>
      <p>Attributes can be decorated to indicate they should be available in the browser as Alpine.js data objects.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Server "watcher" methods</h6>
      <p>Public methods can be instructed to watch a public attribute, enabling reactive re-rendering on the server.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Inplace updating from the server</h6>
      <p>Server methods can update the rendered component in place. Powered by the Alpine.js morph plugin.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Component library packaging</h6>
      <p>Every component belongs to a "library"; their JS & CSS is packed together for quicker browser downloads.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Components with overridable blocks</h6>
      <p>Component can have multiple <code>{% verbatim %}{%&nbsp;block(s)&nbsp;%}{% endverbatim  %}</code> which can be overridden when used.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">JS/CSS builds using <a href="https://esbuild.github.io">esbuild</a></h6>
      <p>Both for development (built into <code>runserver</code>) and production your JS & CSS is built with esbuild.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Source Maps</h6>
      <p>Source maps are generated during development so that you can track down errors to the original Python files.</p>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-0">Syntax highlighting with type annotations</h6>
      <p>Tetra uses type annotations to syntax highlight your JS, CSS & HTML in your Python files with a <a href="https://github.com/samwillis/python-inline-source/tree/main/vscode-python-inline-source">VS Code plugin</a> </p>
    </div>
  </div>

  <p id="plans" class="text-center max-width mt-3">
    This is only the beginning, with much more planned, including:<br>
    •&nbsp;ModelComponent for bootstrapping standard CRUD interactions. &nbsp;
    •&nbsp;FormComponent bringing the power of Django forms to Tetra. &nbsp;
    •&nbsp;Python type annotations &nbsp;
    •&nbsp;Intergration with Django Validators &nbsp;
    •&nbsp;Alpine.js directives for component state (loading, offline  etc.) &nbsp;
    •&nbsp;Routing and query strings for "whole page" components. &nbsp;
    •&nbsp;Page title and metadata in header. &nbsp;
    •&nbsp;Pagination and Infinity Scroll components. &nbsp;
    •&nbsp;PostCSS/SASS/etc. support. &nbsp;
    •&nbsp;CSS scoped to a component. &nbsp;
    •&nbsp;Websocket/SSE components enabling realtime updates. &nbsp;
    •&nbsp;File upload/downloads. &nbsp;
    •&nbsp;Redirect responses. &nbsp;
    •&nbsp;Integration with Django Messages. &nbsp;
    •&nbsp;Additional authentication tools. &nbsp;
    •&nbsp;Integration with UI & component toolkits. &nbsp;
    •&nbsp;Bundling of esbuild to be npm free. &nbsp;
  </p>

  <div class="text-center mt-4">
    <a href="https://tetra.readthedocs.org" class="btn btn-primary btn-lg px-4 gap-3">
      <i class="fa-solid fa-arrow-right"></i>
      Read the Docs to get started
    </a>
  </div>

{% endblock content %}